html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body, html {
    height: 100%
}

body {
    font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    background: #fff;
    -webkit-transition: background 1s cubic-bezier(.075, .82, .165, 1);
    transition: background 1s cubic-bezier(.075, .82, .165, 1);
    overflow-x: hidden
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden], template {
    display: none
}

@font-face {
    font-family: Helvetica Neue For Number;
    src: local("Helvetica Neue");
    unicode-range: u + 30-39
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

* , :after, :before {
    box-sizing: border-box
}

body, html {
    width: 100%;
    height: 100%
}

body {
    font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    background-color: #fff
}

article, aside, blockquote, body, button, code, dd, details, div, dl,
dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header,
hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea,
th, ul {
    margin: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit
}

ol, ul {
    list-style: none
}

input::-ms-clear, input::-ms-reveal {
    display: none
}

::-moz-selection {
    background: #108ee9;
    color: #fff
}

::selection {
    background: #108ee9;
    color: #fff
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(0, 0, 0, .85)
}

a {
    color: #108ee9;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    transition: color .3s ease
}

a:focus {
    text-decoration: underline;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink
}

a:hover {
    color: #49a9ee
}

a:active {
    color: #0e77ca
}

a:active, a:hover {
    outline: 0;
    text-decoration: none
}

a[disabled] {
    color: rgba(0, 0, 0, .25);
    cursor: not-allowed;
    pointer-events: none
}

.ant-dropdown-link .anticon-down,
.ant-dropdown-trigger .anticon-down{
    display:inline-block;font-size:12px;font-size:10px;-webkit-transform:scale(.83333333) rotate(0deg);transform:scale(.83333333) rotate(0deg)
}
:root .ant-dropdown-link .anticon-down,
:root .ant-dropdown-trigger .anticon-down{
    -webkit-filter:none;filter:none;font-size:12px
}

code, kbd, pre, samp {
    font-family: Consolas, Menlo, Courier, monospace
}

.clearfix {
    zoom: 1
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0
}


.markdown {
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    line-height: 1.8
}

.highlight {
    line-height: 1.5
}

.markdown img {
    vertical-align: middle;
    max-width: 100%
}

.markdown h1 {
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 24px;
    margin-top: 8px;
    font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif
}

.markdown h1 .subtitle {
    font-weight: 400;
    font-size: 90%;
    margin-left: 12px
}

.markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
    color: rgba(0, 0, 0, .85);
    font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 1.6em 0 .6em;
    font-weight: 500;
    clear: both
}

.markdown h1 {
    font-size: 28px
}

.markdown h2 {
    font-size: 22px
}

.markdown h3 {
    font-size: 18px
}

.markdown h4 {
    font-size: 16px
}

.markdown h5 {
    font-size: 14px
}

.markdown h6 {
    font-size: 12px
}

.markdown hr {
    height: 1px;
    border: 0;
    background: #e9e9e9;
    margin: 16px 0;
    clear: both
}

.markdown p, .markdown pre {
    margin: 1em 0
}

.markdown ul > li {
    list-style-type: circle;
    margin-left: 20px;
    padding-left: 4px
}

.markdown ul > li:empty {
    display: none
}

.markdown ol > li {
    list-style-type: decimal;
    margin-left: 20px;
    padding-left: 4px
}

.markdown ol > li > p, .markdown ul > li > p {
    margin: .2em 0
}

.markdown code {
    margin: 0 1px;
    background: #f7f7f7;
    padding: .2em .4em;
    border-radius: 3px;
    font-size: .9em;
    border: 1px solid #eee
}

.markdown pre {
    border-radius: 4px;
    background: #f7f7f7;
    font-family: Lucida Console, Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace
}

.markdown pre code {
    border: none;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: rgba(0, 0, 0, .65);
    overflow: auto
}

.markdown b, .markdown strong {
    font-weight: 600
}

.markdown > table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 100%;
    margin: 8px 0 16px
}

.markdown > table th {
    white-space: nowrap;
    color: #5c6b77;
    font-weight: 600
}

.markdown > table td, .markdown > table th {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left
}

.markdown > table th {
    background: #f7f7f7
}

.markdown blockquote {
    font-size: 90%;
    color: #999;
    border-left: 4px solid #e9e9e9;
    padding-left: .8em;
    margin: 1em 0
}

.markdown blockquote p {
    margin: 0
}

.markdown .anchor {
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    margin-left: 8px
}

.markdown .waiting {
    color: #ccc;
    cursor: not-allowed
}

.markdown a.edit-button {
    line-height: 12px;
    display: inline-block;
    margin-left: 10px;
    height: 12px
}

.markdown a.edit-button i {
    color: #999
}

.markdown a.edit-button i:hover {
    color: #108ee9
}

.markdown a.edit-button .anticon {
    display: block;
    font-size: 16px
}

.markdown h1:hover .anchor, .markdown h2:hover .anchor, .markdown h3:hover .anchor,
.markdown h4:hover .anchor, .markdown h5:hover .anchor, .markdown h6:hover .anchor {
    opacity: 1;
    display: inline-block
}

.markdown > br, .markdown > p > br {
    clear: both
}

.markdown.api-container table {
    font-size: 13px
}

.markdown.api-container table td:first-child {
    background: #fcfcfc;
    font-weight: 500;
    width: 20%;
    font-family: Lucida Console, Consolas, Menlo, Courier, monospace
}

.markdown.api-container table td:nth-child(3) {
    width: 22%;
    font-size: 12px;
    font-family: Lucida Console, Consolas, Menlo, Courier, monospace
}

.markdown.api-container table td:last-child {
    width: 13%;
    font-size: 12px;
    font-family: Lucida Console, Consolas, Menlo, Courier, monospace
}




.ant-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    z-index: 1050;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
    color: rgba(0, 0, 0, .65);
    background: #fff;
    line-height: 46px
}

.ant-menu-hidden {
    display: none
}

.ant-menu-item-group-list {
    margin: 0;
    padding: 0
}

.ant-menu-item-group-title {
    color: rgba(0, 0, 0, .43);
    font-size: 12px;
    line-height: 1.5;
    padding: 8px 16px
}

.ant-menu-item, .ant-menu-submenu, .ant-menu-submenu-title {
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s
}

.ant-menu-item:active, .ant-menu-submenu-title:active {
    background: #ecf6fd
}

.ant-menu-submenu .ant-menu-sub {
    cursor: auto
}

.ant-menu-item > a {
    display: block;
    color: rgba(0, 0, 0, .65)
}

.ant-menu-item > a:hover {
    color: #108ee9
}

.ant-menu-item > a:focus {
    text-decoration: none
}

.ant-menu-item > a:before {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ""
}

.ant-menu-item-divider {
    height: 1px;
    overflow: hidden;
    background-color: #e9e9e9;
    line-height: 0
}

.ant-menu-item-active, .ant-menu-item:hover, .ant-menu-submenu-active,
.ant-menu-submenu-title:hover, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    color: #108ee9
}

.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open {
    z-index: 1050
}

.ant-menu-horizontal .ant-menu-item, .ant-menu-horizontal .ant-menu-submenu {
    margin-top: -1px
}

.ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu .ant-menu-submenu-title:hover {
    background-color: transparent
}

.ant-menu-item-selected, .ant-menu-item-selected > a, .ant-menu-item-selected > a:hover {
    color: #108ee9
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #ecf6fd
}

.ant-menu-horizontal, .ant-menu-inline, .ant-menu-vertical {
    z-index: auto
}

.ant-menu-inline, .ant-menu-vertical {
    border-right: 1px solid #e9e9e9
}

.ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-item {
    margin-left: -1px;
    left: 1px;
    position: relative;
    z-index: 1
}

.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 3px solid #108ee9;
    -webkit-transform: scaleY(.0001);
    -ms-transform: scaleY(.0001);
    transform: scaleY(.0001);
    -webkit-transition: all .2s;
    transition: all .2s
}

.ant-menu-vertical.ant-menu-sub {
    border-right: 0
}

.ant-menu-vertical.ant-menu-sub .ant-menu-item {
    border-right: 0;
    margin-left: 0;
    left: 0
}

.ant-menu-vertical.ant-menu-sub .ant-menu-item:after {
    border-right: 0
}

.ant-menu-vertical.ant-menu-sub > .ant-menu-item:first-child {
    border-radius: 4px 4px 0 0
}

.ant-menu-vertical.ant-menu-sub > .ant-menu-item-group:last-child > .ant-menu-item-group-list:last-child > .ant-menu-item:last-child,
.ant-menu-vertical.ant-menu-sub > .ant-menu-item:last-child {
    border-radius: 0 0 4px 4px
}

.ant-menu-inline .ant-menu-item-selected:after, .ant-menu-inline .ant-menu-selected:after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1)
}

.ant-menu-submenu-horizontal > .ant-menu {
    top: 100%;
    left: 0;
    position: absolute;
    min-width: 100%;
    margin-top: 7px;
    z-index: 1050
}

.ant-menu-submenu-vertical {
    z-index: 1
}

.ant-menu-submenu-vertical > .ant-menu {
    top: 0;
    left: 100%;
    position: absolute;
    min-width: 160px;
    margin-left: 4px;
    z-index: 1050
}

.ant-menu-item, .ant-menu-submenu-title {
    margin: 0;
    padding: 0 20px;
    position: relative;
    display: block;
    white-space: nowrap
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    min-width: 14px;
    margin-right: 8px
}

.ant-menu > .ant-menu-item-divider {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    padding: 0;
    line-height: 0;
    background-color: #e9e9e9
}

.ant-menu-submenu {
    position: relative
}

.ant-menu-submenu > .ant-menu {
    background-color: #fff;
    border-radius: 4px
}

.ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    -webkit-transform: rotate(270deg) scale(.75);
    -ms-transform: rotate(270deg) scale(.75);
    transform: rotate(270deg) scale(.75)
}

.ant-menu-submenu-inline > .ant-menu-submenu-title:after, .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
    font-family: anticon !important;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    position: absolute;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    content: "\E61D";
    right: 16px
}

.ant-menu-submenu-inline > .ant-menu-submenu-title:after {
    top: 0;
    display: inline-block;
    font-size: 12px;
    font-size: 8px\9;
    -webkit-transform: scale(.66666667) rotate(0deg);
    -ms-transform: scale(.66666667) rotate(0deg);
    transform: scale(.66666667) rotate(0deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1, M12=0, M21=0, M22=1)";
    zoom: 1
}

@at-root .ant-menu-submenu-inline > .ant-menu-submenu-title:after {
    -webkit-filter: none;
    filter: none;
    font-size: 12px
}

.ant-menu-submenu-open.ant-menu-submenu-inline > .ant-menu-submenu-title:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    -webkit-transform: rotate(180deg) scale(.75);
    -ms-transform: rotate(180deg) scale(.75);
    transform: rotate(180deg) scale(.75)
}

.ant-menu-vertical .ant-menu-submenu-selected, .ant-menu-vertical .ant-menu-submenu-selected > a {
    color: #108ee9
}

.ant-menu-horizontal {
    border: 0;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: none;
    z-index: 0
}

.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
    position: relative;
    top: 1px;
    float: left;
    border-bottom: 2px solid transparent
}

.ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-submenu-selected, .ant-menu-horizontal > .ant-menu-submenu:hover {
    border-bottom: 2px solid #108ee9;
    color: #108ee9
}

.ant-menu-horizontal > .ant-menu-item > a, .ant-menu-horizontal > .ant-menu-submenu > a {
    display: block;
    color: rgba(0, 0, 0, .65)
}

.ant-menu-horizontal > .ant-menu-item > a:hover, .ant-menu-horizontal > .ant-menu-submenu > a:hover {
    color: #108ee9
}

.ant-menu-horizontal:after {
    content: " ";
    display: block;
    height: 0;
    clear: both
}

.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title,
.ant-menu-vertical .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title {
    padding: 0 16px;
    font-size: 12px;
    line-height: 42px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis
}

.ant-menu-item-group-list .ant-menu-item, .ant-menu-item-group-list .ant-menu-submenu-title {
    padding: 0 16px 0 28px
}

.ant-menu-vertical.ant-menu-sub {
    padding: 0
}

.ant-menu-vertical.ant-menu-sub, .ant-menu-vertical.ant-menu-sub > .ant-menu-item,
.ant-menu-vertical.ant-menu-sub > .ant-menu-submenu {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0
}

.ant-menu-root.ant-menu-inline, .ant-menu-root.ant-menu-vertical {
    box-shadow: none
}

.ant-menu-sub.ant-menu-inline {
    padding: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0
}

.ant-menu-sub.ant-menu-inline > .ant-menu-item, .ant-menu-sub.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    line-height: 42px;
    height: 42px;
    list-style-type: disc;
    list-style-position: inside
}

.ant-menu-sub.ant-menu-inline .ant-menu-item-group-title {
    padding-left: 32px
}

.ant-menu-item-disabled, .ant-menu-submenu-disabled {
    color: rgba(0, 0, 0, .25) !important;
    cursor: not-allowed;
    background: none;
    border-color: transparent !important
}

.ant-menu-item-disabled > a, .ant-menu-submenu-disabled > a {
    color: rgba(0, 0, 0, .25) !important;
    pointer-events: none
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    color: hsla(0, 0%, 100%, .67);
    background: #404040
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #333
}

.ant-menu-dark.ant-menu-horizontal {
    border-bottom-color: #404040
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    border-color: #404040;
    border-bottom: 0;
    top: 0
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a {
    color: hsla(0, 0%, 100%, .67)
}

.ant-menu-dark.ant-menu-inline, .ant-menu-dark.ant-menu-vertical {
    border-right: 0
}

.ant-menu-dark.ant-menu-inline .ant-menu-item, .ant-menu-dark.ant-menu-vertical .ant-menu-item {
    border-right: 0;
    margin-left: 0;
    left: 0
}

.ant-menu-dark.ant-menu-inline .ant-menu-item:after, .ant-menu-dark.ant-menu-vertical .ant-menu-item:after {
    border-right: 0
}

.ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-selected,
.ant-menu-dark .ant-menu-submenu-title:hover, .ant-menu-dark .ant-menu-submenu:hover,
.ant-menu-dark:not(.ant-menu-inline) .ant-menu-submenu-open {
    background-color: transparent;
    color: #fff
}

.ant-menu-dark .ant-menu-item-active > a, .ant-menu-dark .ant-menu-item:hover > a,
.ant-menu-dark .ant-menu-submenu-active > a, .ant-menu-dark .ant-menu-submenu-selected > a,
.ant-menu-dark .ant-menu-submenu-title:hover > a, .ant-menu-dark .ant-menu-submenu:hover > a,
.ant-menu-dark:not(.ant-menu-inline) .ant-menu-submenu-open > a {
    color: #fff
}

.ant-menu-dark .ant-menu-item-selected {
    border-right: 0;
    color: #fff
}

.ant-menu-dark .ant-menu-item-selected:after {
    border-right: 0
}

.ant-menu-dark .ant-menu-item-selected > a, .ant-menu-dark .ant-menu-item-selected > a:hover {
    color: #fff
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: transparent
}

.ant-menu-dark.ant-menu-inline .ant-menu-item-selected {
    background-color: #108ee9
}

.ant-menu-dark .ant-menu-item-disabled, .ant-menu-dark .ant-menu-item-disabled > a,
.ant-menu-dark .ant-menu-submenu-disabled, .ant-menu-dark .ant-menu-submenu-disabled > a {
    opacity: .8;
    color: hsla(0, 0%, 100%, .35) !important
}






.main-wrapper {
    margin: 0 48px;
    border-radius: 4px;
    padding: 24px 0 0;
    margin-bottom: 24px;
    display: flex;
}

.main-container, .main-wrapper {
    background: #fff;
    position: relative;
}

.main-container {
    padding: 0 40px 120px;
    margin-left: -1px;
    min-height: 500px;
    overflow: hidden;
    border-left: 1px solid #e9e9e9;
    flex: 1;
}

.main-container-component {
    /*padding-right: 130px*/
}

.aside-container {
    padding-bottom: 50px;
    font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 20%;
}

.aside-container.ant-menu-inline .ant-menu-item a, .aside-container.ant-menu-inline .ant-menu-submenu-title h4,
.aside-container.ant-menu-inline > .ant-menu-item {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden
}

.aside-container a[disabled] {
    color: #ccc
}

.aside-container .menu-item-link-outside {
    position: relative
}

.aside-container .menu-item-link-outside .anticon {
    font-size: 12px;
    color: #108ee9;
    opacity: 0;
    position: absolute;
    right: -10px;
    top: 16px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.aside-container .menu-item-link-outside:hover .anticon {
    opacity: 1
}

.aside-container .chinese {
    font-size: 12px;
    margin-left: 6px;
    font-weight: 400;
    opacity: .67
}

.outside-link {
    display: inline-block
}

.outside-link:after {
    content: "\E691";
    font-family: anticon;
    margin-left: 5px;
    font-size: 12px;
    color: #aaa
}

.outside-link.internal {
    display: none
}

.page-wrapper {
    background: #ececec
}


.code-box {
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 16px;
    -webkit-transition: all .2s;
    transition: all .2s
}

.code-box:target {
    border: 1px solid #108ee9;
    z-index: 10
}

.code-box-expand-trigger {
    cursor: pointer;
    font-size: 14px;
    color: #9199ac;
    margin-left: 5px;
    opacity: .8;
    -webkit-transition: all .3s;
    transition: all .3s;
    top: -2px;
    position: relative
}

.code-box-expand-trigger-active {
    color: #3b4357
}

.code-box-title {
    position: absolute;
    top: -14px;
    padding: 1px 8px;
    margin-left: -8px;
    color: #777;
    border-radius: 4px 4px 0 0;
    background: #fff;
    -webkit-transition: background-color .4s;
    transition: background-color .4s
}

.code-box-title a, .code-box-title a:hover {
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    font-weight: 500
}

.code-box a.edit-button {
    position: absolute;
    right: -16px;
    top: 7px;
    font-size: 12px;
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    background: #fff;
    padding-right: 6px
}

.code-box-demo {
    border-bottom: 1px solid #e9e9e9;
    padding: 42px 20px 50px
}

.code-box iframe {
    width: 100%;
    border: 0
}

.code-box-meta.markdown {
    position: relative;
    padding: 17px 16px 15px 20px;
    border-radius: 0 0 4px 4px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    width: 100%;
    font-size: 12px
}

.code-box-meta blockquote {
    margin: 0
}

.code-box-meta h4, section.code-box-meta p {
    margin: 4px 0;
    width: 98%
}

.code-box-meta > p {
    font-size: 12px;
    margin: .5em 0;
    padding-right: 25px;
    width: 100%;
    word-break: break-word
}

.code-box.expand .code-box-meta {
    border-radius: 0;
    border-bottom: 1px dashed #e9e9e9
}

.code-box .collapse {
    position: absolute;
    right: 14px;
    bottom: 22px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    opacity: .5;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #999;
    background: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 100%
}

.code-box.expand .collapse {
    color: #0d72ba;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.code-box.expand .collapse:hover {
    opacity: 1
}

.code-box .highlight-wrapper {
    display: none;
    overflow: auto;
    border-radius: 0 0 4px 4px
}

.code-box .highlight-wrapper-expand {
    display: block
}

.code-box .highlight {
    position: relative
}

.code-box .highlight pre {
    margin: 0;
    padding: 0;
    background: #fff
}

.code-box .highlight:not(:first-child) {
    border-top: 1px dashed #e9e9e9
}

.code-box-code-copy {
    position: absolute;
    top: 10px;
    right: 12px;
    margin: 0 !important;
    font-size: 14px;
    cursor: pointer;
    color: #888;
    -webkit-transition: all .24s;
    transition: all .24s;
    background: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
    opacity: 0
}

.code-box-code-copy:hover {
    color: #108ee9;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.code-box-code-copy.anticon-check {
    color: #00a854 !important;
    font-weight: 700
}

.highlight-wrapper:hover .code-box-code-copy {
    opacity: 1
}

.code-box pre {
    margin: 0;
    width: auto
}

.code-box pre code {
    border: none;
    background: #fff
}

.color-palette {
    margin: 45px 0
}

.color-palette-pick {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px
}

.color-palette-picker {
    margin: 12px 0 24px
}

.color-palette-picker-value {
    font-size: 13px;
    font-family: Consolas
}


ul.anticons-list {
    margin: 40px 0;
    list-style: none;
    overflow: hidden
}

ul.anticons-list li {
    float: left;
    width: 16.66%;
    text-align: center;
    list-style: none;
    cursor: pointer;
    height: 100px;
    color: #555;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
    margin: 3px 0;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    padding: 10px 0 0
}

ul.anticons-list li .anticon {
    font-size: 24px;
    margin: 12px 0 16px;
    -webkit-transition: all .3s;
    transition: all .3s
}

ul.anticons-list li .anticon-class {
    display: block;
    text-align: center;
    -webkit-transform: scale(.83);
    -ms-transform: scale(.83);
    transform: scale(.83);
    font-family: Lucida Console, Consolas;
    white-space: nowrap
}

ul.anticons-list li:hover {
    background-color: #108ee9;
    color: #fff
}

ul.anticons-list li:hover .anticon {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4)
}

ul.anticons-list li.copied:hover {
    color: hsla(0, 0%, 100%, .2)
}

ul.anticons-list li:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "Copied!";
    text-align: center;
    line-height: 110px;
    color: #fff;
    -webkit-transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
    transition: all .3s cubic-bezier(.18, .89, .32, 1.28);
    opacity: 0
}

ul.anticons-list li.copied:after {
    opacity: 1;
    top: -10px
}




.grid-demo .code-box-demo .demo-row, .grid-demo .demo-row, [id^=components-grid-demo-] .code-box-demo .demo-row,
[id^=components-grid-demo-] .demo-row {
    background-image: -webkit-linear-gradient(left, #f5f5f5 4.16666667%, transparent 0, transparent 8.33333333%, #f5f5f5 0, #f5f5f5 12.5%, transparent 0, transparent 16.66666667%, #f5f5f5 0, #f5f5f5 20.83333333%, transparent 0, transparent 25%, #f5f5f5 0, #f5f5f5 29.16666667%, transparent 0, transparent 33.33333333%, #f5f5f5 0, #f5f5f5 37.5%, transparent 0, transparent 41.66666667%, #f5f5f5 0, #f5f5f5 45.83333333%, transparent 0, transparent 50%, #f5f5f5 0, #f5f5f5 54.16666667%, transparent 0, transparent 58.33333333%, #f5f5f5 0, #f5f5f5 62.5%, transparent 0, transparent 66.66666667%, #f5f5f5 0, #f5f5f5 70.83333333%, transparent 0, transparent 75%, #f5f5f5 0, #f5f5f5 79.16666667%, transparent 0, transparent 83.33333333%, #f5f5f5 0, #f5f5f5 87.5%, transparent 0, transparent 91.66666667%, #f5f5f5 0, #f5f5f5 95.83333333%, transparent 0);
    background-image: linear-gradient(90deg, #f5f5f5 4.16666667%, transparent 0, transparent 8.33333333%, #f5f5f5 0, #f5f5f5 12.5%, transparent 0, transparent 16.66666667%, #f5f5f5 0, #f5f5f5 20.83333333%, transparent 0, transparent 25%, #f5f5f5 0, #f5f5f5 29.16666667%, transparent 0, transparent 33.33333333%, #f5f5f5 0, #f5f5f5 37.5%, transparent 0, transparent 41.66666667%, #f5f5f5 0, #f5f5f5 45.83333333%, transparent 0, transparent 50%, #f5f5f5 0, #f5f5f5 54.16666667%, transparent 0, transparent 58.33333333%, #f5f5f5 0, #f5f5f5 62.5%, transparent 0, transparent 66.66666667%, #f5f5f5 0, #f5f5f5 70.83333333%, transparent 0, transparent 75%, #f5f5f5 0, #f5f5f5 79.16666667%, transparent 0, transparent 83.33333333%, #f5f5f5 0, #f5f5f5 87.5%, transparent 0, transparent 91.66666667%, #f5f5f5 0, #f5f5f5 95.83333333%, transparent 0);
    overflow: hidden;
    margin-bottom: 8px
}

.grid-demo .ant-row-flex, .grid-demo .code-box-demo .ant-row-flex,
[id^=components-grid-demo-] .ant-row-flex, [id^=components-grid-demo-] .code-box-demo .ant-row-flex {
    background: #f5f5f5
}

.grid-demo .ant-row-flex > ant-col, .grid-demo .ant-row > ant-col, .grid-demo .code-box-demo .ant-row-flex > ant-col,
.grid-demo .code-box-demo .ant-row > ant-col, [id^=components-grid-demo-] .ant-row-flex > ant-col,
[id^=components-grid-demo-] .ant-row > ant-col, [id^=components-grid-demo-] .code-box-demo .ant-row-flex > ant-col,
[id^=components-grid-demo-] .code-box-demo .ant-row > ant-col {
    padding: 5px 0;
    text-align: center;
    border-radius: 0;
    min-height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff
}

.grid-demo .code-box-demo .ant-row-flex > ant-col:not(.gutter-row), .grid-demo .code-box-demo .ant-row > ant-col:not(.gutter-row),
[id^=components-grid-demo-] .code-box-demo .ant-row-flex > ant-col:not(.gutter-row),
[id^=components-grid-demo-] .code-box-demo .ant-row > ant-col:not(.gutter-row) {
    background: #00a0e9;
    padding: 16px 0
}

.grid-demo .code-box-demo .ant-row-flex > ant-col:not(.gutter-row):nth-child(odd),
.grid-demo .code-box-demo .ant-row > ant-col:not(.gutter-row):nth-child(odd),
[id^=components-grid-demo-] .code-box-demo .ant-row-flex > ant-col:not(.gutter-row):nth-child(odd),
[id^=components-grid-demo-] .code-box-demo .ant-row > ant-col:not(.gutter-row):nth-child(odd) {
    background: rgba(0, 160, 233, .7)
}

.grid-demo .ant-row .demo-col, .grid-demo .code-box-demo .ant-row .demo-col,
[id^=components-grid-demo-] .ant-row .demo-col, [id^=components-grid-demo-] .code-box-demo .ant-row .demo-col {
    text-align: center;
    padding: 30px 0;
    color: #fff;
    font-size: 18px;
    border: none;
    margin-top: 0;
    margin-bottom: 0
}

.grid-demo .ant-row .demo-col-1, [id^=components-grid-demo-] .ant-row .demo-col-1 {
    background: rgba(0, 160, 233, .7)
}

.grid-demo .ant-row .demo-col-2, .grid-demo .code-box-demo .ant-row .demo-col-2,
[id^=components-grid-demo-] .ant-row .demo-col-2, [id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-2 {
    background: rgba(0, 160, 233, .5)
}

.grid-demo .ant-row .demo-col-3, .grid-demo .code-box-demo .ant-row .demo-col-3,
[id^=components-grid-demo-] .ant-row .demo-col-3, [id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-3 {
    background: hsla(0, 0%, 100%, .2);
    color: #999
}

.grid-demo .ant-row .demo-col-4, .grid-demo .code-box-demo .ant-row .demo-col-4,
[id^=components-grid-demo-] .ant-row .demo-col-4, [id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-4 {
    background: rgba(0, 160, 233, .6)
}

.grid-demo .ant-row .demo-col-5, .grid-demo .code-box-demo .ant-row .demo-col-5,
[id^=components-grid-demo-] .ant-row .demo-col-5, [id^=components-grid-demo-] .code-box-demo .ant-row .demo-col-5 {
    background: hsla(0, 0%, 100%, .5);
    color: #999
}

.grid-demo .code-box-demo .height-100, [id^=components-grid-demo-] .code-box-demo .height-100 {
    height: 100px;
    line-height: 100px
}

.grid-demo .code-box-demo .height-50, [id^=components-grid-demo-] .code-box-demo .height-50 {
    height: 50px;
    line-height: 50px
}

.grid-demo .code-box-demo .height-120, [id^=components-grid-demo-] .code-box-demo .height-120 {
    height: 120px;
    line-height: 120px
}

.grid-demo .code-box-demo .height-80, [id^=components-grid-demo-] .code-box-demo .height-80 {
    height: 80px;
    line-height: 80px
}



.code-box-demo.example-buttons ant-button {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 12px;
}

.code-box-demo.example-button-group ant-button-group {
    margin-right: 8px;
    margin-bottom: 12px;
}